:root {
  /* theme */
  --accent-default: var(--palette-sky-500);
  --accent-hover: var(--palette-sky-400);
  --accent-foreground: var(--palette-snow);
  --accent-soft: #0ea5e926;
  --accent-soft-hover: #0ea5e933;
  --accent-soft-foreground: var(--palette-sky-500);
  --default-default: var(--palette-zinc-800);
  --default-hover: var(--palette-zinc-800);
  --default-foreground: var(--palette-snow);
  --success-default: var(--palette-green-500);
  --success-hover: var(--palette-green-500);
  --success-foreground: var(--palette-eclipse);
  --success-soft: #22c55e26;
  --success-soft-hover: #22c55e33;
  --success-soft-foreground: var(--palette-green-500);
  --warning-default: var(--palette-coral-400);
  --warning-hover: var(--palette-coral-500);
  --warning-foreground: var(--palette-eclipse);
  --warning-soft: #ffc05526;
  --warning-soft-hover: #ffb22c33;
  --warning-soft-foreground: var(--palette-coral-400);
  --danger-default: var(--palette-red-500);
  --danger-hover: var(--palette-red-500);
  --danger-foreground: var(--palette-snow);
  --danger-soft: #ef444426;
  --danger-soft-hover: #ef444433;
  --danger-soft-foreground: var(--palette-red-500);
  --border-width: 1px;
  --border-width-control: 0px;
  --disabled-opacity: 50px;
  --blur: 0px;
  --depth: 0px;
  --ring-offset-width: 2px;
  --ring-focus-width: 4px;
  --shadow-inner-color: #ffffff4d;
  --shadow-scroll: var(--background-default);
  --shadow-scroll-on-surface: var(--surface-default);
  --shadow-scroll-blur: #09090bb2;
  --shadow-scroll-blur-on-surface: #18181bb2;
  --border: var(--palette-zinc-800);
  --focus-ring-color: var(--accent-default);
  --separator-default: var(--palette-zinc-900);
  --separator-secondary: var(--palette-zinc-700);
  --separator-tertiary: var(--palette-zinc-700);
  --backdrop: #00000080;
  --overlay: var(--palette-eclipse);
  --overlay-shadow: #ffffff4d;
  --segment: var(--palette-zinc-700);
  --foreground-default: var(--palette-snow);
  --foreground-muted: var(--palette-zinc-400);
  --foreground-segment: var(--palette-snow);
  --foreground-overlay: var(--palette-snow);
  --foreground-link: var(--palette-snow);
  --field-radius: var(--dimensions-3);
  --field-border-width: var(--dimensions-px);
  --field-border: #27272a00;
  --field-border-hover: #3f3f4600;
  --field-placeholder: var(--foreground-muted);
  --field-foreground: var(--foreground-default);
  --field-background: var(--palette-eclipse);
  --field-background-hover: #18181beb;
  --field-background-focus: var(--palette-eclipse);
  --field-shadow: #ffffff00;
  --field-shadow-2: #ffffff00;
  --surface-default: var(--palette-eclipse);
  --surface-foreground: var(--foreground-default);
  --surface-secondary: var(--palette-neutral-800);
  --surface-secondary-foreground: var(--foreground-default);
  --surface-tertiary: var(--palette-zinc-800);
  --surface-tertiary-foreground: var(--foreground-default);
  --surface-transparent: #00000000;
  --background-default: var(--palette-zinc-950);
  --background-secondary: var(--palette-neutral-950);
  --background-tertiary: var(--palette-neutral-900);
  --background-inverse: var(--palette-snow);
}
