:root {
  /* theme */
  --accent-default: var(--palette-sky-500);
  --accent-hover: var(--palette-sky-400);
  --accent-foreground: var(--palette-snow);
  --accent-soft: #0ea5e91f;
  --accent-soft-hover: #0ea5e933;
  --accent-soft-foreground: var(--palette-sky-600);
  --default-default: var(--palette-neutral-100);
  --default-hover: var(--palette-neutral-200);
  --default-foreground: var(--palette-eclipse);
  --success-default: var(--palette-green-500);
  --success-hover: var(--palette-green-500);
  --success-foreground: var(--palette-eclipse);
  --success-soft: #22c55e26;
  --success-soft-hover: #22c55e33;
  --success-soft-foreground: var(--palette-green-500);
  --warning-default: var(--palette-coral-500);
  --warning-hover: var(--palette-coral-700);
  --warning-foreground: var(--palette-eclipse);
  --warning-soft: #ffb22c26;
  --warning-soft-hover: #cb860533;
  --warning-soft-foreground: var(--palette-coral-500);
  --danger-default: var(--palette-red-500);
  --danger-hover: var(--palette-red-500);
  --danger-foreground: var(--palette-snow);
  --danger-soft: #ef444426;
  --danger-soft-hover: #ef444433;
  --danger-soft-foreground: var(--palette-red-500);
  --border-width: 1px;
  --border-width-control: 0px;
  --disabled-opacity: 50px;
  --blur: 0px;
  --depth: 0px;
  --ring-offset-width: 2px;
  --ring-focus-width: 4px;
  --shadow-inner-color: #0000004d;
  --shadow-scroll: var(--background-default);
  --shadow-scroll-on-surface: var(--surface-default);
  --shadow-scroll-blur: #f5f5f5b2;
  --shadow-scroll-blur-on-surface: #ffffffb2;
  --border: var(--palette-zinc-200);
  --focus-ring-color: var(--accent-default);
  --separator-default: var(--palette-zinc-200);
  --separator-secondary: var(--palette-zinc-300);
  --separator-tertiary: var(--palette-zinc-300);
  --backdrop: #00000080;
  --overlay: var(--palette-white);
  --overlay-shadow: #00000000;
  --segment: var(--palette-white);
  --foreground-default: var(--palette-eclipse);
  --foreground-muted: var(--palette-zinc-500);
  --foreground-segment: var(--palette-eclipse);
  --foreground-overlay: var(--palette-eclipse);
  --foreground-link: var(--palette-eclipse);
  --field-radius: var(--dimensions-3);
  --field-border-width: var(--dimensions-px);
  --field-border: #e4e4e700;
  --field-border-hover: #d4d4d400;
  --field-placeholder: var(--foreground-muted);
  --field-foreground: var(--foreground-default);
  --field-background: var(--palette-white);
  --field-background-hover: #fafafaeb;
  --field-background-focus: var(--palette-white);
  --field-shadow: #0000000a;
  --field-shadow-2: #0000000f;
  --surface-default: var(--palette-white);
  --surface-foreground: var(--foreground-default);
  --surface-secondary: var(--palette-zinc-100);
  --surface-secondary-foreground: var(--foreground-default);
  --surface-tertiary: var(--palette-neutral-200);
  --surface-tertiary-foreground: var(--foreground-default);
  --surface-transparent: #ffffff00;
  --background-default: var(--palette-neutral-100);
  --background-secondary: var(--palette-neutral-200);
  --background-tertiary: var(--palette-neutral-200);
  --background-inverse: var(--palette-eclipse);
}
